html, body{
  background-color: rgb(10, 142, 76);
  font-family: 'Merriweather', serif;
  height: 100%;
  width: 100%;
}

#wrap {
  min-height: 100%;
}

#blendIn{
background-color: rgb(10, 142, 76);
}

form{
  margin: 3% 0% 5% 0%;
}
thead {
  background-color: rgb(8, 8, 83);
  color: white;
}

h2{
  font-size: 1.75rem;
}

header{
  margin-top: 2%;
   text-shadow: 2px 2px 1px #9999;
}

h1{
  font-size: 3.5rem;
}

#footer{
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
}

td, th{
  padding: 2% 20px;
}

button{
  background-color: inherit;
  border-color: inherit;
}

i{
  color: red;
}

tbody{
  background-color: rgb(239, 241, 136)
}

tbody tr td{
  border-bottom: 2pt solid rgb(240, 172, 172);
}

#totalAmount{
  margin: 3%;
}

.img-fluid{
  height: 50px;
  position: inline-block;
}

.container{
  overflow:auto;
padding-bottom:50px;
}
